<h1>Products</h1>
<ul data-bind="foreach: products">
    <li>
        <button data-bind="click: $parent.selectProduct, text: name"></button>
    </li>
</ul>

<div data-bind="if: selectedProduct">
    <div data-bind="text: selectedProduct().name"></div>
    <ul data-bind="foreach: tabs">
        <li><button data-bind="click: $parent.selectTab, text: $data"></button></li>
    </ul>
    <div data-bind="width: selectedProduct">
        <div data-bind="text: name"></div>
        <!-- ko: if selectedTab -->
        <div data-bind="component: { name: 'product-' + selectedTab()}"></div>
        <!-- /ko -->
    </div>
</div>
