<ul id="tenant-command" class="command-list">
    <li><button type="button"><figure><img src="/assets/images/tenant.png" /><figcaption>Tenant name</figcaption></figure></button></li>
</ul>
<hr />
<ul id="content-commands" data-bind="foreach: menu" class="command-list">
    <li><button type="button" data-bind="click: $parent.selectSection, text: $data"></button></li>
</ul>
<hr />
<ul class="command-list" id="profile-commands">
    <li><button type="button"><i class="fa fa-user"></i> Dati personali</button></button></li>
    <li><button type="button" data-bind="click: logout"><i class="fa fa-power-off"></i> Logout</button></li>
</ul>

<style>
    #tenant-command {
        background-image: url('/data/tenants/tenant1/image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    #tenant-command button {
        background-color: transparent;
        height: 5.6em;
    }
    #tenant-command img {
        position:absolute; 
        top: 0.3em; 
        left: 0.8em;
        height: 3.4em;
    }
    #tenant-command figcaption {
        position: absolute;
        bottom: 0.6em;
        left: 1em;
        font-size: 0.8em;
        line-height: 1em;
        text-shadow: 0 0 2px black;
    }
    #profile-commands button {
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #profile-commands i {
        float:right;
        line-height: 1.4em;
        text-align:right;
    }
</style>