<ul class="command-list">
    <li style="background-color:green"><button type="button">Tenant name</button></li>
</ul>
<ul class="command-list">
    <li><button type="button">User</button></li>
</ul>
<hr />
<ul data-bind="foreach: menu" class="command-list">
    <li><button type="button" data-bind="click: $parent.selectSection, text: $data"></button></li>
</ul>
<hr />
<ul class="command-list">
    <li data-bind="click: logout"><button type="button">Logout</button></li>
</ul>

<footer id="main-menu-footer">
    Application name
</footer>

<style>
    #main-menu-footer {
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        padding:0.5em;
        box-sizing: border-box;
    }
</style>